.transactionHistory {
  width: 800px;
  height: 500px;
  box-shadow: rgba(11, 11, 11, 0.187) 0px 2px 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.05em;
}

.title {
  padding: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #0cbbd6;
}

.text {
  padding: 4px;
  color: #7c7e84;
  font-size: 18px;
}

.row:nth-child(even) {
  background-color: #f2f1f1;
}
